.banner-content {
    position: relative;
    min-height: 30rem;
    background-image: url('/static/images/faqs/banner.png') !important;
    background-repeat: no-repeat !important;
    background-size: auto 30rem !important;
    background-position: center !important;
}

.banner-wave {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    height: 50%;
}

.wave-content {
    position: relative;
}

.head-wave {
    position: absolute;
    overflow: hidden;
    top: -1px;
    padding: 0 !important;
    transform: rotate(180deg) !important;
    width: 100% !important;
    height: 30% !important;
}
