.home-banner-content {
    font-family: 'Prompt';
    font-size: 18px;
}

.home-blog-content {
    font-family: 'Prompt';
    font-size: 14px;
    color: #F3F3F3;
    opacity: 0.7;
}

.home-blog-header {
    font-family: 'Chonburi';
    font-size: 18px;
    color: white;
}

.home-promotion-content {
    font-family: 'Prompt';
    font-size: 18px;
    opacity: 0.8;
}
